<h1>Home#index</h1>
<h1>Hello rails!</h1>
<%= link_to "Registration page", registers_path%>

<%= link_to "new registration page", new_register_path(@post)%>

<%= yield%>

<p>Find me in app/views/home/index.html.erb</p>
